.contacts_bgr
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 100, 100, 0.5);
    z-index: 3;
}

.contacts_wnd
{
    display: flex;
    width: 80%;
    height: 50%;
    background-color: lightgray;
    overflow: auto;
}